img, media {
  max-width: 100%;
}
@font-face {
    font-family: "PT Sans"; /* Гарнитура шрифта */
    src: url(../fonts/PTS55F.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "PT Sans Bold"; /* Гарнитура шрифта */
    src: url(../fonts/PTS75F.ttf); /* Путь к файлу со шрифтом */
}
body {
    overflow: scroll;
    display: block;
    color: #4c4c4c;
}
.main-page-wrapper {
    width: 100%;
    overflow: hidden;
}
.l-page,
.l-footer {
    width: 1219px;
    margin:auto;
}
.l-footer {
    padding:20px;
}
.l-branding {
    position: absolute;
    top:0;
    left:0;
}
.l-branding {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 36px;
    width: 100%;
    z-index: 100;
}
.page-wrapper {
    width: 100%;
    background: url(../images/background.jpg);
    //overflow: hidden;
}
.l-header {
    overflow: hidden;
    border-top: 7px solid #c82d25;
    position: relative;
}
.l-region--header {
    position: absolute;
    top: 73px;
    right: 0;
    z-index: 100;
}
.l-region--slideshow {
    padding: 0 0 0 30px;
}
.l-main {
    overflow: hidden;
    padding: 20px;
}
.l-content {
    overflow: hidden;
}
.l-highlighted-prefix{
    background: url(../images/top-filters-background.png) no-repeat;
    background-size: 100% auto;
    width:100%;
    height:40px;
}
.l-region--highlighted {
    background: white;
    padding: 0 10px 0 10px;
    overflow: hidden;
    box-shadow: inset 0px -25px 65px -35px #CCC;
}
.l-region--highlighted-text {
    overflow: hidden;
    background: #ffffff;
    border-top: 1px #808080 dashed;
    margin-bottom: 20px;
}
.l-region--bottom-content{
    background: white;
}
.footer-wrapper {
    overflow: hidden;
    background: url(../images/footer.png);
    width: 100%;
    background-size: contain;
}
.footer-site-name:active,
.footer-site-name:visited {
    color: black;
}
.footer-site-name {
    float: left;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 100px;
    color: black;
}
.l-region--footer{
    float:left;
}
#block-menu-menu-footer-menu-1,
#block-menu-menu-footer-menu-2{
    float: left;
}
.l-footer .site-logo {
    width:100%;
}
.site-logo {
    width: 12%;
    float: left;
    margin-top: 10px;
    margin-right: 1%;
}
.l-branding .site-logo img {
    width: 142px;
    height: 60px;
}
.site-slogan {
    width: 200px;
    float: left;
    font-weight: normal;
    margin-top: 20px;
}

/* search filters */
#custom-a600-search-filters-form>div {
    overflow: hidden;
    margin-bottom: 20px;
}
#block-custom-a600-search-form {
    font-size: 14px;
    padding: 0 20px;
}

#block-custom-a600-search-form .filters-title {
    text-align: center;
    width: 10%;
    font-weight: bold;
    margin-top: 3px;
    float:left;
    text-transform: uppercase;
}

#block-custom-a600-search-form .filters-title .row{
    float: left;
    width: 100%;
    font-family: "PT Sans Bold";
    color: #c82d25;
}
#block-custom-a600-search-form .filters-title .row1{
    font-size: 20px;
    letter-spacing: 0.1ex;
}
#block-custom-a600-search-form .filters-title .row2{
    font-size: 18px;
    margin-top: -5px;
}
#block-custom-a600-search-form .filters-title .row3{
    font-size: 32px;
    margin-top: -10px;
}
#block-custom-a600-search-form .filters-title-arrow {
    width: 5%;
    height: 60px;
    float: left;
    background: url(../images/filters-title-arrow.png) no-repeat center;
    background-size: contain;
    margin-top: 10px;
}
#block-custom-a600-search-form #edit-filters {
    padding-left: 10px;
    overflow: visible;
    width: 100%;
}

#block-custom-a600-search-form #edit-extra-filters {
    background: white;
    width:100%;
    overflow: hidden;
}
#block-custom-a600-search-form #edit-extra-filters.collapsed {
    height: 1.2em;
}
#block-custom-a600-search-form #edit-extra-filters.collapsed {
    margin-bottom: 20px;
}
#block-custom-a600-search-form #edit-extra-filters legend .fieldset-legend {
    background-image: url('../images/advanced-search-arrow.png');
    background-position: 135px 50%;
    font-family: Tahoma;
    text-decoration: underline;
    padding: 0 15px 0 0;
}
#block-custom-a600-search-form #edit-extra-filters legend .fieldset-legend a {
    color: #660000;
}
#block-custom-a600-search-form #edit-extra-filters legend {
    margin: 0 70px 20px 0;
    float: right;
    display: block;
    clear:both;
}
#block-custom-a600-search-form #edit-extra-filters .fieldset-wrapper {
    float: left;
}
#block-custom-a600-search-form fieldset {
    border: 0;
    padding: 0;
    float: left;
}
#block-custom-a600-search-form .form-item {
    float: left;
    overflow: hidden;
}

#block-custom-a600-search-form .form-item label{
    font-family: Tahoma;
    font-weight: normal;
}
#block-custom-a600-search-form #edit-extra-filters .form-type-radio {
    width:100%;
    float: left;
    margin-top: 5px;
}
#block-custom-a600-search-form #edit-extra-filters .form-type-radio input,
#block-custom-a600-search-form #edit-extra-filters .form-type-radio label {
    float: left;
}
#block-custom-a600-search-form #edit-extra-filters .form-type-radio input {
    margin: 3px 3px 0 0;
}
#block-custom-a600-search-form .form-item-square label,
#block-custom-a600-search-form .form-item-floor label{
    margin-bottom: 10px;
}

#block-custom-a600-search-form .ui-selectmenu-dropdown {
    background: none;
}
#block-custom-a600-search-form  .ui-state-default .ui-icon {
    background-image: url(../images/select-arrow.png)/*{iconsDefault}*/;
    background-position: 0;
}

#block-custom-a600-search-form .form-item-square{
    width: 45%;
    overflow: visible;
    margin-right: 5%;
}
#block-custom-a600-search-form .form-item-floor {
    width: 50%;
    overflow: visible;
}

#block-custom-a600-search-form .form-type-radios.form-item-count-bedroom {
    width: 13%;
}

#block-custom-a600-search-form .form-type-radios.form-item-garage {
    width: 24%;
}
#block-custom-a600-search-form #edit-col2 {
    width: 29%;
}
#block-custom-a600-search-form .search-img {
    background: url(../images/search-image-right.png);
    background-size: contain;
    height:61px;
    width:60px;
    position:absolute;
    top: 20px;
    left: 1130px;
    z-index: 100;
}
#block-custom-a600-search-form #edit-select-group {
    width: 100%;
}
#block-custom-a600-search-form #edit-dimensions-group {
    width: 24%;
}
#block-custom-a600-search-form #edit-dimensions-group legend {
    margin-bottom: 5px;
}
#block-custom-a600-search-form .form-item-price-slider label {
    margin-bottom: 8px;
}
#block-custom-a600-search-form .bedroom-group {
    width:50%;
    float: left;
}
#block-custom-a600-search-form #edit-count-bedroom-group .fieldset-wrapper{
    width:100%;
}
#block-custom-a600-search-form #edit-count-bedroom-group {
    width: 100%;
    margin-bottom: 5px;
}
#block-custom-a600-search-form #edit-count-bedroom-group .form-item {
    margin-bottom: 0;
}
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor1-all input,
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor2-all input {
    margin: 3px 2px 0 0;
}
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor1,
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor2 {
    width:100%;
    float: left;
}
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor1 label,
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor2 label {
    margin: 5px 10px 0 0;
}
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor1 input,
#block-custom-a600-search-form #edit-count-bedroom-group .form-item-count-bedroom-floor2 input {
    text-align: right;
    border-radius: 5px;
    padding: 5px;
}
#block-custom-a600-search-form #edit-count-bedroom-group label,
#block-custom-a600-search-form #edit-count-bedroom-group input {
    float:left;
}
#block-custom-a600-search-form .form-item-price-slider,
#block-custom-a600-search-form .form-item-length,
#block-custom-a600-search-form .form-item-width {
    width: 100%;
    margin-bottom: 0;
}
#block-custom-a600-search-form .form-item-length label,
#block-custom-a600-search-form .form-item-width label {
    float: left;
    padding-top: 5px;
    font-size: 20px;
    width:15px;
}
#block-custom-a600-search-form .form-item-price-slider .sliderfield .sliderfield-bubble,
#block-custom-a600-search-form .form-item-length .sliderfield .sliderfield-bubble,
#block-custom-a600-search-form .form-item-width .sliderfield .sliderfield-bubble {
    position: relative;
    top: 15px;
    color: black;
    background: none;
    border: none;
    display: inline-block;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    text-align: center;
}
#block-custom-a600-search-form .form-item-price-slider .sliderfield,
#block-custom-a600-search-form .form-item-length .sliderfield,
#block-custom-a600-search-form .form-item-width .sliderfield {
    width: 90%;
    float: left;
    padding: 15px;
}
#block-custom-a600-search-form .form-type-radios.form-item-second-light,
#block-custom-a600-search-form .form-type-radios.form-item-balcony,
#block-custom-a600-search-form .form-type-radios.form-item-terrace,
#block-custom-a600-search-form .form-type-radios.form-item-erker {
    width: 17%;
}
#block-custom-a600-search-form .form-type-radios.form-item-pool .form-type-radio {
    width: auto!important;
    margin-right: 10px;
}
#block-custom-a600-search-form .form-type-radios.form-item-pool label,
#block-custom-a600-search-form .form-type-radios.form-item-pool #edit-pool{
    float: left;
    margin-right: 20px;
}
#block-custom-a600-search-form .form-type-radios.form-item-pool label {
    margin-top: 5px;
}
#block-custom-a600-search-form .form-type-radios.form-item-pool label.option {
    margin-top: 0;
}
#block-custom-a600-search-form .form-item-house-basement {
    margin-left: 10px;
}
#block-custom-a600-search-form .form-item-price-slider {
    width: 25%;
}

#block-custom-a600-search-form .form-item-price-slider .sliderfield {
    padding:10px!important;
    padding-left:0!important;
}

/*#block-custom-a600-search-form #edit-square .form-item,
#block-custom-a600-search-form #edit-garage .form-item,
#block-custom-a600-search-form #edit-floor .form-item,
#block-custom-a600-search-form .form-item-price-slider .sliderfield,
#block-custom-a600-search-form #edit-count-bedroom .form-item {*/
#block-custom-a600-search-form .form-type-radio,
#block-custom-a600-search-form .form-type-slider .sliderfield {
    float:left;
    /*border: 3px dashed #f2cda5;
    border-radius: 5px;
    margin:10px;
    text-align: center;*/
}
.ui-slider-horizontal.orange {
    height: .4em;
}
.orange .ui-slider-range {
    background: #990000;
}
.orange .ui-slider-handle {
    background: url(../images/slider-handle.png);
    border:0!important;
    margin-top:-.2em;
}
#block-custom-a600-search-form .form-type-slider .sliderfield label {
    padding:7px;
    display:block;
}
#block-custom-a600-search-form #edit-floor .form-item {
    width:120px;
}
#block-custom-a600-search-form #edit-count-bedroom .form-item {
    width:30px;
}
#block-custom-a600-search-form #edit-square .form-item {
    width:73px;
}

#block-custom-a600-search-form .form-item-price-slider .sliderfield-display-values-field {
    margin-bottom: 10px;
}

/* top blocks */
.l-region--highlighted-text {
    width:100;
    float: left;
}
.l-region--highlighted-text .block {
    float: left;
    overflow: hidden;
    padding:20px;
}
.l-region--highlighted-text #block-block-11 {
    width: 26%;
    margin-right:7%;
    margin-left:2%;
}
.l-region--highlighted-text #block-block-12 {
    width: 26%;
    margin-right:7%;
}
.l-region--highlighted-text #block-block-13 {
    width: 26%;
    margin-right:2%;
}
.l-region--highlighted-text .block .title {
    margin: 10px 0;
    color: #660000;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "PT Sans";
    font-weight: bold;
}
.l-region--highlighted-text .block .text {
    font-family: Tahoma;
    line-height: 1.8em;
}
/* end top blocks */

/* slideshow */
#block-views-frontpage-slideshow-block {
    padding: 0 20px;
    background: url(../images/slideshow-bg.png);
    background-size: contain;
    width: 1178px;
    height:504px;
}
#block-views-frontpage-slideshow-block .block__content {
    width: 1090px;
    height:460px;
    padding-left: 16px;
}
#block-views-frontpage-slideshow-block .views-field-field-image img {
    height:464px!important;
}
.views-slideshow-controls-bottom {
    position: absolute;
    top:400px;
    left:545px;
    z-index: 100;
}
.views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover {
    cursor: pointer;
}
.views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    float: left;
    background-color: #b2b2b2;
    border-radius: 20px;
    width:20px;
    height: 20px;
    margin: 5px;
}
.views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
    background-color: #bd4420;
}
/* end slideshow */

/* non front image */
.l-region--slideshow #block-block-18 {
    background: url('../images/non-front-top-image.png') no-repeat;
    background-size: cover;
    height: 263px;
}
/* end non front image */

/* search results */
.view-main-page {
    background: white;
    overflow: hidden;
    float:left;
}
.view-main-page .view-header {
  text-align: center;
  font-family: PT Sans;
}
.view-main-page .view-content {
  margin-top: 1em;
    padding-bottom: 15px;
}
.view-main-page .view-header .sub-title1 {
    font-weight: bold;
    font-size: 32px;
    width: 24%;
    margin: auto;
    border-top: 5px solid #c82d25;
}
.view-main-page .view-header .sub-title2 {
  font-weight: normal;
  font-size: 24px;
    margin-top:-10px;
}
.view-main-page .views-view-grid {
    width: 100%;
}
.view-main-page .views-view-grid td {
    width: 30%;
    display: block;
    float: left;
}
.view-main-page div.search-result.node .node-title {
    font-size: 18px;
    font-family: Tahoma;
    text-decoration: underline;
    text-align: center;
}
.view-main-page  .field--name-field-photo,
.view-main-page  .house-project-square-wrapper,
.view-main-page  .node-title,
.view-main-page  .house-project-price-wrapper {
    margin:0 55px 0 55px;
    text-align: center;
}
.view-main-page  .field--name-field-photo img{
    border-radius: 10px 10px 0 0;
}
.view-main-page  .house-project-square-wrapper {
    background-color: #f6eddf;
    overflow: hidden;
    padding: 5px 0;
    width: 280px!important;
    margin: 10px 0 10px 90px;
    border-top: 1px #808080 dashed;
}
.view-main-page  .house-project-square-wrapper .field--name-field-square{
    margin: 5px 0 10px 35%;
    font-size: 28px;
    float: left;
}

.view-main-page  .house-project-price-wrapper {
    position: relative;
    margin-top: -170px;
    margin-left: 259px;
    color: white;
    background: url('../images/price_wrapper_background.png') no-repeat;
    width: 120px!important;
    height: 45px;
}

.price-symbol{
    text-decoration: line-through;
    padding-left: 5px;
}
.view-main-page  .house-project-price-wrapper .field--name-field-price{
    font-size: 20px;
    float: left;
    margin: 7px 0 0 22px;
}
/* end search results */

/*.page-project-search .l-content-inner {
    width: 100%;
    overflow: hidden;
    padding:10px;
}


.page-project-search .search-text-block,
.page-project-search div.search-result.node {
    display: block;
    overflow: hidden;
    background: white;
    width: 267px;
    height:370px;
    margin-right: 22px;
    margin-bottom: 30px;
    float: left;
    border-radius: 15px;
    text-align: center;
}

.page-project-search div.search-result.node:hover {
    cursor: pointer;
}

.page-project-search div.spec-offer.node {
    width: 580px;
}
.page-project-search div.spec-offer.node .node__content {
    position:relative;
}
.page-project-search div.spec-offer.node .field--name-field-photo {
    position: absolute;
    top:0;
    left:0;
}

.page-project-search div.spec-offer.node .field--name-field-rooms-list {
    margin-top: 10px;
    width:60%;
    float: left;
    margin-right:20px;
}
.page-project-search div.spec-offer.node .house-project-price-wrapper {
    float: left;
    margin: 20px 0 0 0!important;
}

.page-project-search div.spec-offer-text {
    background-color: white;
    opacity: 0.8;
    position:absolute;
    top:240px;
    height:100px;
    left: 0;
    width:95%;
    margin:15px;
    padding-top: 10px;
    border-radius: 5px;
}

.page-project-search .search-text-block {
    border : 5px dashed white;
    background: none;
    padding: 15px;
    height:370px
}
.page-project-search .search-text-block .title {
    font-size: 38px;
    margin:10px 0 10px 0;
    text-align: left;
}
.page-project-search .search-text-block .text {
    font-size: 24px;
    text-align: left;
}

.page-project-search div.search-result.node .node-title {
    text-align: center;
}

.page-project-search div.search-result.node .node-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    margin-top:1px;
}

.page-project-search div.search-result.node .field--name-body {
    height: 50px;
}

.page-project-search div.search-result.node .house-project-price-wrapper {
    padding: 10px;
    background: #ffe6c9;
    margin: 10px 30% 10px 30%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
}

.page-project-search div.search-result.node .house-project-price-wrapper .field--name-field-price {
    float: left;
    font-size: 20px;
}
.page-project-search div.search-result.node .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity:0.9;
    float: left;
    width:20px;
    height:20px;
    margin-left:5px;
}*/
.page-project-search .more-wrapper{
    width:100%;
    text-align: center;
    float: left;
    background: white;
}
.search-no-results-block {
    font-size: 36px;
    float: left;
    width: 100%;
}

/* top region */
.l-region--branding {
    overflow: hidden;
    float: left;
    width: 87%;
    margin-top: 10px;
}
#block-menu-menu-top-menu ul.menu {
    width: 100%;
    display: block;

}
#block-menu-menu-top-menu ul.menu li {
    list-style: none;
    display: block;
    margin-right:18px;
    padding-right:18px;
    float: left;
    background: url(../images/top-li-separator.png) no-repeat top right;
}
#block-menu-menu-top-menu ul.menu li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
#block-menu-menu-top-menu ul.menu li a:hover {
    text-decoration: underline;
}
#block-menu-menu-top-menu ul.menu li.last {
    margin-right:0;
    background: none;
}
#block-custom-a600-site-footer-phone .phone-wrapper {
    float: right;
    color:white;
    padding: 5px 50px 20px 50px;
}
#block-custom-a600-site-top-phone {
    background: rgba(182, 70, 58, 0.5);
    /*opacity: 0.8;*/
    float: right;
    color:white;
    padding: 5px 50px 20px 50px;
}
#block-custom-a600-site-top-phone .phone-prefix{
    position:absolute;
    width: 0;
    height: 0;
    border-bottom: 30px solid rgba(209, 143, 121, 1);
    border-left: 30px solid transparent;
    top: -29px;
    left: 216px;
}
#block-custom-a600-site-footer-phone .phone-title,
#block-custom-a600-site-top-phone .phone-title {
    font-size: 12px;
    float: right;
    background: #660000;
    padding:4px;
}
#block-custom-a600-site-footer-phone .phone-code,
#block-custom-a600-site-top-phone .phone-code {
    font-size: 22px;
}
#block-custom-a600-site-footer-phone .phone-number,
#block-custom-a600-site-top-phone .phone-number {
    font-size: 32px;
    font-weight: bold;

}
/*.l-header {
    margin-bottom: 25px;
}
.l-region--branding {
    overflow: hidden;
    float: right;
}
#block-custom-a600-site-top-phone,
#block-menu-menu-top-menu {
    float:left;
    margin-right:100px;
}
#block-custom-a600-site-top-phone {
    margin-top:1em;
}
#block-custom-a600-site-top-phone .phone-title {
    font-size: 18px;
}
#block-custom-a600-site-top-phone .phone-number {
    font-size: 22px;
}

#block-menu-menu-top-menu ul.menu li a,
.l-region--footer ul.menu li a{
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px black dashed;
}
#block-menu-menu-top-menu ul.menu li,
.l-region--footer ul.menu li{
    list-style: none;
    margin-bottom: 10px;
}*/
/* end top region */

/* throbber */
.ajax-progress, .ajax-progress-throbber {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    vertical-align: middle;
    text-align: center;
}
.ajax-progress .throbber {
    position: relative;
    top: 48%;
    left: 48%;
    width: 64px; /* dimensions of the ajax-loader.gif */
    height: 64px;
    margin: auto;
    background:url(../images/ajax_loader_blue_64.gif) no-repeat;
    color: #000;
    z-index: 501;
}
/* end throbber */

/* full house project view */
.search-result.node p{
    margin: 10px 0 0 0;
}
.node-house-project p{
    margin:0;
}
.node-house-project-full,
.node-house-project-order {
    background: white;
    overflow: hidden;
}
.top-section,
.main-section,
.footer-section{
    overflow: hidden;
}
.node-right-section{
    padding-left: 29px;
    padding-top: 30px;
    float: left;
    width:390px;
    overflow: hidden;
}

.node-house-project-full .custom-a600-add-favorite-form #edit-submit {
    background: url(../images/heart.jpg);
    border:0;
    outline:none;
    width:22px;
    margin-top:3px;
}

.node-house-project-full .custom-a600-add-favorite-form #edit-submit.favorite {
    background: url(../images/heart_red.jpg);
}
.node-house-project-full .footer-section .create-order-wrapper{
    font-size: 30px;
    width: 27%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.node-house-project-full .footer-section .create-order{
    float: left;
    background: #fce4c0;
    padding: 5px;
}
.node-house-project-full .footer-section .create-order-suffix{
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
.node-house-project-full .top-section .create-order-wrapper{
    font-size: 20px;
    overflow: hidden;
}
.node-house-project-full .top-section .create-order{
    float: left;
    background: #fce4c0;
    padding: 5px;
}
.node-house-project-full .top-section .create-order-suffix{
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
.node-house-project-full .house-project-price-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}
.node-house-project-full .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity:0.9;
    float: left;
    width:20px;
    height:24px;
    margin-left:5px;
    margin-top:2px;
}
.node-house-project-full .field--name-field-price{
    float: left;
    font-size: 28px;
}

.order-steps-wrapper {
    float:right;
    right: 50%;
    position: relative;
    margin: 10px 0;
}

.order-steps {
    position: relative;
    float: left;
    left:50%;
}
.order-steps div {
    font-weight: lighter;
    color:lightgray;
    font-size: 24px;
    float:left;
    margin-right: 10px;
}
.order-steps .active {
    font-weight: bold;
    color:black;
}
.footer-section {
    text-align: center;
    margin: 30px 0;
}
/* end full house project view */

/* order house project view */
#custom-a600-project-order-form {
    border-radius: 15px;
    border: 1px solid #000000;
    background: #ffffff;
    box-shadow: 2px 2px;
}

fieldset#edit-contacts {
    border: 0;
}
fieldset#edit-contacts .fieldset-wrapper{
    width:45%;
    margin: auto;
}
fieldset#edit-contacts .form-type-textfield label{
    display: block;
    float: left;
    text-align: left;
    width: 140px;
}
fieldset#edit-prices .order-option-col1 {
    width:30%;
    float: left;
}

fieldset#edit-prices .additional-option-marker {
    float: left;
    background: url(../images/square.png);
    width: 20px;
    height: 20px;
}
fieldset#edit-prices .additional-option {
    float: left;
    width:100%;
}
fieldset#edit-prices .order-options-additional {
    margin-top:10px;
}
fieldset#edit-prices .price-wrapper,
fieldset#edit-prices .form-type-textfield,
fieldset#edit-prices .submit-wrapper {
    width:100%;
    float:left;
}
fieldset#edit-prices .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity: 0.9;
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0 0 5px;
}
#edit-prices .form-type-textfield input {
    display: block;
    float: left;
    margin-top:3px;
    width: 30px;
    text-align: right;
}
#edit-prices .form-type-textfield .decrease-count,
#edit-prices .form-type-textfield .increase-count{
    float: left;
    background: #fce4c0;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 5px;
    width:19px;
    cursor:pointer;
}
/* end order house project view */

/* footer */
.l-footer .block {
    float:left;
}
#block-custom-a600-footer-menu {
    width:80%;
}
#block-block-14 {
    width:15%;
    margin-right: 5%;
}
#block-block-15 {
    width:25%;
    margin-left: 3%;
}
#block-block-15 h2 {
    margin:0 0 10px 0;
    color: #ffffff;
    font-size: 16px;
    font-family: "PT Sans";
    text-transform: uppercase;
}
#block-custom-a600-site-footer-phone {
    width:45%;
    padding-left: 90px;
    padding-bottom: 5px;
}
#block-block-16 {
    width:15%;
    margin-left: 7%;
}
#block-custom-a600-footer-menu ul li {
    float: left;
    list-style-type: disc;
    width: 33%;
    text-align: left;
    margin-bottom: 10px;
}
#block-custom-a600-footer-menu ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "PT Sans Bold";
}
.l-region--footer p {
    margin: 0;
}
#block-custom-a600-site-footer-phone img,
#block-custom-a600-site-footer-phone .phone-wrapper {
    float: left;
}
#block-block-16 .social {
    background: url(../images/social-links.png) no-repeat;
    background-size: cover;
    width: 175px;
    height: 35px;
    margin-top: 15px;
}
#block-block-16 .social a {
    width: 40px;
    height: 35px;
    margin: 0 6px 0 0;
    float: left;
    overflow: hidden;
    text-decoration: none;
}
#block-block-16 .social a.last {
    margin: 0;
    width:37px;
}
#block-block-16 .copyright {
    color: #ffffff;
    margin-top: 15px;
    font-size: 12px;
}
/* end footer */

/* faq block */
#block-block-17 {
    overflow: hidden;
    padding: 0 20px 20px 20px;
    box-shadow: inset 0px 25px 65px -35px #CCC;
    border-top: 1px #808080 dashed;
}
#block-block-17 .block__content {
    margin-left:20px;
}
#block-block-17 .block__title {
    font-weight: bold;
    font-size: 32px;
    width: 25%;
    text-align: center;
    font-family: PT Sans;
    margin: auto;
    padding-bottom: 20px;
    border-top: 5px solid #c82d25;
    text-transform: uppercase;
    color: #666666;
}
#block-block-17 .question {
    width: 28%;
    margin-right: 5%;
    float: left;
    border-left: grey 2px solid;
    padding-left: 20px;
}
#block-block-17 .question .title {
    color: #990000;
    font-family: Tahoma;
    padding-bottom: 10px;
}
#block-block-17 .question .text {
    color: #666666;
    font-family: Tahoma;
    padding-bottom: 10px;
}
#block-block-17 .question .faq-more-text a {
    background-color: #dcb77e;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
}
#block-block-17 .all-question-link {
    padding-bottom: 10px;
    float: right;
    display: block;
    margin: 15px 20px 0 0;
}
#block-block-17 .all-question-link a {
    color: #660000;
    font-family: Tahoma;
}
/* end faq block */

.content-wrapper {
    background: #ffffff;
    float:left;
    width:100%;
}

.content-title {
    margin:-20px 0 0 0;
    color: #990000;
    font-family: Tahoma;
    font-weight: normal;
    text-align: center;
}
.l-content-prefix {
    background: url(../images/top-filters-background.png) no-repeat;
    background-size: 100% 40px;
    width:100%;
    height:40px;
    float:left;
}

/* faq page */
.faq-list li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.questions-wrapper {
    padding: 10px 20px 20px 40px;
}
.question-wrapper {
    padding: 10px 0;
}
.faq-list li a {
    color: #990000;
}
.section-faq {

}

/* end faq page */

/* contacts page */
.contacts-wrapper {
    width:100%;
    padding: 20px 40px;
    overflow: hidden;
    border-bottom: 1px #808080 dashed;
}
.contacts-wrapper .contact-row {
    margin-top:20px;
    float:left;
    width: 100%;
}
.contacts-wrapper .row-title {
    width:15%;
    float:left;
    color: #990000;
    font-family: Tahoma;
}
.contacts-wrapper .row-value1 {
    width:45%;
    float:left;
}
.contacts-wrapper .row-value2 {
    width:25%;
    float:left;
}

.section-contacts .node .phone-wrapper,
.section-contacts .node .email-wrapper {
    float: left;
    width:25%;
    padding: 0 50px 20px 50px;
}
.section-contacts .node .phone-wrapper {
    margin-right: 20%;
    margin-left: 12%;
}
.section-contacts .node .phone-title,
.section-contacts .node .email-title {
    font-size: 12px;
    float: left;
    color: white;
    background: #660000;
    padding:4px;
}
.section-contacts .node .email-title {
    float: right;
}
.section-contacts .node .phone-code {
    font-size: 22px;
    float:left;
    width:50%;
}
.section-contacts .node .phone-number{
    font-size: 32px;
    font-weight: bold;
    float: left;
    color: #990000;
}
.section-contacts .node .email-address a{
    font-size: 30px;
    color: #990000;
    font-family: Tahoma;
}
/* end contacts page */

/* house project page */
.node-house-project .image-section {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.node-house-project .field--name-field-plans .field__item {
    float: left;
    margin: 15px;
}
.node-house-project .node-title {
    font-size: 24px;
    height:30px;
    color: #990000;
    font-family: Tahoma;
    text-align: center;
    margin-bottom: 0;
}

.node-house-project  .house-project-price {
    height: 0;
}
.node-house-project  .house-project-price-wrapper {
    position: relative;
    top: 120px;
    left:948px;
    /*margin-bottom: -120px;
    margin-left:948px;*/
    z-index: 1;
    color: white;
    background: url('../images/price_wrapper_background.png') no-repeat;
    background-size: cover;
    width: 150px;
    height: 55px;
    overflow: visible;
}
.node-house-project .house-project-price-wrapper .field--name-field-price {
    font-size: 28px;
    float: left;
    margin: 7px 0 0 22px;
}
.node-house-project .field__label {
    font-family: "PT Sans Bold";
    color: #c82d25;
}
.node-house-project .description-bottom-left .field__label {
    font-family: sans-serif;
    font-weight: normal;
    color: #000000;
}
.node-house-project h2.description-title,
.node-house-project h2.plans-section-title{
    font-family: "PT Sans Bold";
    color: #c82d25;
    padding-left: 90px;
}
.node-house-project .description-section,
.node-house-project .order-section {
    width: 100%;
    float: left;
    padding: 0 50px 20px 90px;
}
.node-house-project .description-section .description {
    width:70%;
    float:left;
}
.node-house-project .description-section .description-top,
.node-house-project .description-section .description-bottom {
    width:100%;
    float:left;
}
.node-house-project .description-section .description-top {
    margin-bottom: 20px;
}
.node-house-project .description-section .description-top .field--name-body,
.node-house-project .description-section .description-top .field--name-field-additional-body,
.node-house-project .description-section .description-bottom .description-bottom-left,
.node-house-project .description-section .description-bottom .description-bottom-right {
    width:45%;
    margin-right: 5%;
    float:left;
}
.node-house-project .description-section .description-bottom .description-bottom-left h3 {
    margin: 0;
    font-size: 16px;
    font-family: "PT Sans Bold";
    color: #c82d25;
}
.node-house-project .description-section .dimensions-section {
    width: 30%;
    float: left;
}
.node-house-project .order-section .house-project-price-footer {
    width: 15%;
    float: left;
    margin: 0 5% 0 32%;
    font-family: "PT Sans Bold";
    color: #c82d25;
    padding: 10px;
}
.node-house-project .order-section .create-order {
    width: 25%;
    float: left;
    margin: 0 20% 0 0;
    background-color: #c82d25;
    border-radius: 5px;
    padding: 10px;
}
.node-house-project .order-section .create-order a {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 28px;
    font-family: "PT Sans";
}
/* end house project page */

/* house project order page */
.node-house-project-order .field--name-field-photo {
    width: 700px;
    margin: 20px auto;
}

#edit-standard-price {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
}
#edit-standard-price .order-option-title {
    text-align: center;
    font-size: 24px;
    font-family: "PT Sans";
    color: #c82d25;
    margin-bottom: 20px;
    margin-left: -90px;
}
fieldset#edit-prices .order-options-wrapper {
    display: table;
    height: 100px;
}
fieldset#edit-prices .order-option-description,
fieldset#edit-prices .order-option-all-options,
fieldset#edit-prices .price-options-col3 {
    padding-left:20px;
    width:35%;
    float: left;
    border: none;
    display: table-cell;
    height:100%;
}
fieldset#edit-prices .order-option-all-options,
#edit-standard-price .order-option-description {
    border-left: 2px solid #c82d25!important;
}
fieldset#edit-prices .order-option-description-inner,
fieldset#edit-prices .order-option-all-options-inner {
    padding-top: 15px;
}
#edit-standard-price .order-option-description{
}
#edit-standard-price .form-item-count-standard {
    margin-top: 10px;
}
#edit-standard-price .form-item-count-standard label {
    display: block;
    float: left;
    width:30%;
    font-weight: normal;
}
fieldset#edit-prices .price-options-col3 {
    margin: 0;
    padding: 0;
    width: 25%;
}
#edit-standard-price .price-wrapper {
    font-family: "Tahoma";
    color: #c82d25;
    font-size: 34px;
}
#edit-standard-price .price-options-col3 {
    padding-top: 0;
}
#edit-standard-price  .form-item-count-standard{
    margin-bottom: 0;
}
#edit-standard-price .price {
    float:left;
}
#edit-prices .form-submit {
    float: left;
    margin: 0 20% 0 0;
    background-color: #c82d25;
    border-radius: 5px;
    padding: 10px;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: "PT Sans";
}
fieldset#edit-prices {
    border: 0;
    margin:0;
    padding: 20px 0 0 90px;
}
/* end house project order page */

/* section how-to-buy-project */

.section-how-to-buy-project .top-text {
    text-align: center;
    width:100%;
    border-bottom: 1px #808080 dashed;
}
.section-how-to-buy-project .top-text,
.section-how-to-buy-project .bottom-text,
.section-how-to-buy-project .description {
    padding:10px 50px 30px 70px;
}
.section-how-to-buy-project .top-text span.oreder-project-link {
    color: #c82d25;
    font-weight: bold;
}
.section-how-to-buy-project .description {
    padding-bottom: 0;
}
.section-how-to-buy-project .description-title {
    font-size: 28px;
    color: #c82d25;
    font-weight: bold;
    text-align: center;
    width:100;
    padding: 20px 0;
}
.section-how-to-buy-project .description ul {
    padding-left: 25px;
    overflow: hidden;
}
.section-how-to-buy-project .description ul li {
    float: left;
    width:45%;
    margin: 0 5% 20px 0;
}
.section-how-to-buy-project .bottom-text {
    text-align: center;
    overflow: hidden;
}
.section-how-to-buy-project .bottom-text .phone-prefix {
    font-weight: bold;
    padding-right: 5px;
    font-size: 22px;
    float:left;
    margin: 2px 0 0 40%;
}
.section-how-to-buy-project .bottom-text .phone-number {
    font-weight: bold;
    color: #c82d25;
    font-size: 32px;
    float:left;
}
.section-how-to-buy-project .main-options-wrapper {
    overflow: hidden;
    width: 100%;
    padding: 0 0 20px 70px;
}
.section-how-to-buy-project .main-options-wrapper .main-option {
    width:25%;
    float: left;
    margin-right: 8%;
    padding-left:30px;
    border-left: 2px solid #c82d25;
}
.section-how-to-buy-project .main-options-wrapper .main-option .option-red-text {
    color: #c82d25;
    font-weight: bold;
}
/* end section how-to-buy-project */

.search-result.node .node__content>div {
    float: left;
    width: 100%;
}

.custom-a600-project-pay-form {
    margin-top: 20px;
}
.custom-a600-project-pay-form .pay-form-wrappper{
    background: #ffffff;
    padding-bottom: 20px;
    float: left;
    width: 100%;
}
.custom-a600-project-pay-form .form-description {
    float:left;
    width: 100%;
    text-align: center;
    margin: 15px auto;
}
.custom-a600-project-pay-form .form-item,
.custom-a600-project-pay-form .form-submit {
    margin-left: 30%;
    float: left;
    clear:both;
}
.custom-a600-project-pay-form .form-item input,
.custom-a600-project-pay-form .form-item textarea {
    line-height: 2.5;
    border-radius: 7px;
}
.custom-a600-project-pay-form .form-submit {
    float: left;
    margin: 0 20% 0 45%;
    background-color: #c82d25;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: "PT Sans";
}