img, media {
  max-width: 100%;
}
@font-face {
    font-family: "PT Sans"; /* Гарнитура шрифта */
    src: url(../fonts/PTS55F.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "PT Sans Bold"; /* Гарнитура шрифта */
    src: url(../fonts/PTS75F.ttf); /* Путь к файлу со шрифтом */
}
body {
    width: 1219px;
    margin: auto;
    background: url(../images/background.jpg);
}
.l-header {
    overflow: hidden;
}
.l-main {
    overflow: hidden;
    padding: 20px;
}
.l-footer {
    margin-top:30px;
    overflow: hidden;
    background: url(../images/footer.jpg);
}
.footer-site-name:active,
.footer-site-name:visited {
    color: black;
}
.footer-site-name {
    float: left;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 100px;
    color: black;
}
.l-region--footer{
    float:left;
}
#block-menu-menu-footer-menu-1,
#block-menu-menu-footer-menu-2{
    float: left;
}
.footer-payments {
    background: url('../images/payments.jpg');
    background-size: contain;
    overflow: hidden;
    float: right;
    width: 200px;
    height: 45px;
    margin-top: 60px;
}
.site-logo {
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
.site-slogan {
    width: 200px;
    float: left;
    font-weight: normal;
    margin-top: 20px;
}

/* search filters */
#custom-a600-project-search {
    font-size: 14px;
}

#custom-a600-project-search .filters-title {
    text-align: center;
    width: 10%;
    font-weight: bold;
    margin-bottom: 10px;
    float:left;
    text-transform: uppercase;
}

#custom-a600-project-search .filters-title .row{
    float: left;
    width: 100%;
    font-family: "PT Sans Bold";
    color: #c82d25;
}
#custom-a600-project-search .filters-title .row1{
    font-size: 20px;
}
#custom-a600-project-search .filters-title .row2{
    font-size: 16px;
}
#custom-a600-project-search .filters-title .row3{
    font-size: 26px;
}
#custom-a600-project-search .filters-title-arrow {
    width: 5%;
    height: 60px;
    float: left;
    background: url(../images/filters-title-arrow.png) no-repeat center;
    background-size: contain;
}
#custom-a600-project-search #edit-filters {
    background: url(../images/filters-background.png) no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-left: 10px;
    overflow: visible;
    width: 100%;
}

#custom-a600-project-search #edit-extra-filters {
    background: white;
    width:100%;
    overflow: hidden;
}
#custom-a600-project-search #edit-extra-filters legend .fieldset-legend {
    background-image: url('../images/advanced-search-arrow.png');
    background-position: 135px 50%;
    font-family: Tahoma;
    text-decoration: underline;
    padding: 0 15px 0 0;
}
#custom-a600-project-search #edit-extra-filters legend .fieldset-legend a {
    color: #660000;
}
#custom-a600-project-search #edit-extra-filters legend {
    margin: 0 70px 20px 0;
    float: right;
}

#custom-a600-project-search fieldset {
    border: 0;
    padding: 0;
    float: left;
}
#custom-a600-project-search .form-item {
    float: left;
    overflow: hidden;
}

#custom-a600-project-search .form-item label{
    font-family: Tahoma;
    font-weight: normal;
}
#custom-a600-project-search .form-item-square label,
#custom-a600-project-search .form-item-floor label{
    margin-bottom: 10px;
}

#custom-a600-project-search .ui-selectmenu-dropdown {
    background: none;
}
#custom-a600-project-search  .ui-state-default .ui-icon {
    background-image: url(../images/select-arrow.png)/*{iconsDefault}*/;
    background-position: 0;
}

#custom-a600-project-search .form-item-square{
    width: 45%;
    overflow: visible;
    margin-right: 5%;
}
#custom-a600-project-search .form-item-floor {
    width: 50%;
    overflow: visible;
}

#custom-a600-project-search .form-type-radios.form-item-count-bedroom {
    width: 13%;
}

#custom-a600-project-search .form-type-radios.form-item-garage {
    width: 24%;
}
#custom-a600-project-search #edit-col2 {
    width: 29%;
}
#custom-a600-project-search #edit-search-image {
    background: url(../images/search-image-right.png);
    background-size: contain;
    height:61px;
    width:52px;
    position:absolute;
    display:none;
}
#custom-a600-project-search #edit-select-group {
    width: 100%;
}
#custom-a600-project-search #edit-dimensions-group {
    width: 24%;
}
#custom-a600-project-search #edit-dimensions-group legend {
    margin-bottom: 5px;
}
#custom-a600-project-search .form-item-price-slider label {
    margin-bottom: 8px;
}
#custom-a600-project-search #edit-count-bedroom-group {
    width: 24%;
    margin-left: 24%;
}
#custom-a600-project-search #edit-count-bedroom-group {
    width: 30%;
    margin-left: 20%;
}
#custom-a600-project-search #edit-count-bedroom-group label,
#custom-a600-project-search #edit-count-bedroom-group input {
    float:left;
}
#custom-a600-project-search .form-item-price-slider,
#custom-a600-project-search .form-item-length,
#custom-a600-project-search .form-item-width {
    width: 100%;
    margin-bottom: 0;
}
#custom-a600-project-search .form-item-length label,
#custom-a600-project-search .form-item-width label {
    float: left;
    padding-top: 5px;
    font-size: 20px;
    width:15px;
}
#custom-a600-project-search .form-item-price-slider .sliderfield .sliderfield-bubble,
#custom-a600-project-search .form-item-length .sliderfield .sliderfield-bubble,
#custom-a600-project-search .form-item-width .sliderfield .sliderfield-bubble {
    position: relative;
    top: 15px;
    color: black;
    background: none;
    border: none;
    display: inline-block;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    text-align: center;
}
#custom-a600-project-search .form-item-price-slider .sliderfield,
#custom-a600-project-search .form-item-length .sliderfield,
#custom-a600-project-search .form-item-width .sliderfield {
    width: 90%;
    float: left;
    padding: 15px;
}
#custom-a600-project-search .form-type-radios.form-item-second-light,
#custom-a600-project-search .form-type-radios.form-item-balcony,
#custom-a600-project-search .form-type-radios.form-item-terrace,
#custom-a600-project-search .form-type-radios.form-item-erker,
#custom-a600-project-search .form-type-radios.form-item-pool {
    width: 17%;
}

#custom-a600-project-search .form-item-house-basement {
    margin-left: 10px;
}
#custom-a600-project-search .form-item-price-slider {
    width: 25%;
}

#custom-a600-project-search .form-item-price-slider .sliderfield {
    padding:10px!important;
    padding-left:0!important;
}

/*#custom-a600-project-search #edit-square .form-item,
#custom-a600-project-search #edit-garage .form-item,
#custom-a600-project-search #edit-floor .form-item,
#custom-a600-project-search .form-item-price-slider .sliderfield,
#custom-a600-project-search #edit-count-bedroom .form-item {*/
#custom-a600-project-search .form-type-radio,
#custom-a600-project-search .form-type-slider .sliderfield {
    float:left;
    /*border: 3px dashed #f2cda5;
    border-radius: 5px;
    margin:10px;
    text-align: center;*/
}
.ui-slider-horizontal.orange {
    height: .4em;
}
.orange .ui-slider-range {
    background: #990000;
}
.orange .ui-slider-handle {
    background: url(../images/slider-handle.png);
    border:0!important;
    margin-top:-.2em;
}
/*#custom-a600-project-search #edit-square .form-item label,
#custom-a600-project-search #edit-garage .form-item label,
#custom-a600-project-search #edit-floor .form-item label,
#custom-a600-project-search .form-item-price-slider .sliderfield label,
#custom-a600-project-search #edit-count-bedroom .form-item label{*/
#custom-a600-project-search .form-type-radio label,
#custom-a600-project-search .form-type-slider .sliderfield label {
    padding:7px;
    display:block;
}

#custom-a600-project-search #edit-garage .form-item {
    width:120px;
}
#custom-a600-project-search #edit-floor .form-item {
    width:120px;
}
#custom-a600-project-search #edit-count-bedroom .form-item {
    width:30px;
}
#custom-a600-project-search #edit-square .form-item {
    width:73px;
}

#custom-a600-project-search .form-item-price-slider .sliderfield-display-values-field {
    margin-bottom: 10px;
}


/* search results */
.view-main-page .view-header {
  text-align: center;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 26px;
}
.view-main-page .view-header .sub-title {
  font-weight: normal;
  font-family: PT Sans;
  font-size: 18px;
}
.view-main-page .views-view-grid {
    width: 100%;
}
.view-main-page .views-view-grid .td {
    width: 33%;
}
.view-main-page div.search-result.node {
    margin-bottom: 20px;
}
.view-main-page div.search-result.node .node-title {
    font-size: 18px;
    font-family: Tahoma;
    text-decoration: underline;
    color: #9b0404;
    margin:5px 0;
    text-align: center;
}
.view-main-page .views-view-grid .field--name-field-photo,
.view-main-page .views-view-grid .house-project-square-wrapper {
    margin:0 55px 0 55px;
    text-align: center;
}
.view-main-page .views-view-grid .house-project-square-wrapper {
    background-color: #f6eddf;
    overflow: hidden;
    padding: 10px 0;

}
.view-main-page .views-view-grid .house-project-square-wrapper .field--name-field-square{
    margin-left: 30%;
    font-size: 28px;
    float: left;
}

.view-main-page .views-view-grid .house-project-price-wrapper {
    position: relative;
    top: -140px;
    left: 224px;
    color: white;
    background: url('../images/price_wrapper_background.png') no-repeat;
    width: 120px;
    height: 45px;

}
.view-main-page .views-view-grid .house-project-price-wrapper .field--name-field-price{
    font-size: 20px;
    float: left;
    margin: 7px 0 0 22px;
}
.view-main-page .views-view-grid div.search-result.node .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity: 0.9;
    float: left;
    width: 20px;
    height: 20px;
    margin: 7px 0 0 5px;
}
/* end search results */



#custom-a600-project-search #results-wrapper {
    width: 100%;
    float:left;
    margin-top: 30px;
}


#custom-a600-project-search #results-wrapper .search-text-block,
#custom-a600-project-search div.search-result.node {
    display: block;
    overflow: hidden;
    background: white;
    width: 280px;
    height:370px;
    margin-right: 22px;
    margin-bottom: 30px;
    float: left;
    border-radius: 15px;
    text-align: center;
}

#custom-a600-project-search div.search-result.node:hover {
    cursor: pointer;
}

/*
#custom-a600-project-search div.spec-offer.node {
    width: 580px;
}
#custom-a600-project-search div.spec-offer.node .node__content {
    position:relative;
}
#custom-a600-project-search div.spec-offer.node .field--name-field-photo {
    position: absolute;
    top:0;
    left:0;
}

#custom-a600-project-search div.spec-offer.node .field--name-field-rooms-list {
    margin-top: 10px;
    width:60%;
    float: left;
    margin-right:20px;
}
#custom-a600-project-search div.spec-offer.node .house-project-price-wrapper {
    float: left;
    margin: 20px 0 0 0!important;
}

#custom-a600-project-search div.spec-offer-text {
    background-color: white;
    opacity: 0.8;
    position:absolute;
    top:240px;
    height:100px;
    left: 0;
    width:95%;
    margin:15px;
    padding-top: 10px;
    border-radius: 5px;
}
*/
#custom-a600-project-search #results-wrapper .search-text-block {
    border : 5px dashed white;
    background: none;
    padding: 15px;
    height:370px
}
#custom-a600-project-search #results-wrapper .search-text-block .title {
    font-size: 38px;
    margin:10px 0 10px 0;
    text-align: left;
}
#custom-a600-project-search #results-wrapper .search-text-block .text {
    font-size: 24px;
    text-align: left;
}

#custom-a600-project-search div.search-result.node .node-title {
    text-align: center;
}

#custom-a600-project-search div.search-result.node .node-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    margin-top:1px;
}

#custom-a600-project-search div.search-result.node .field--name-body {
    height: 50px;
}

#custom-a600-project-search div.search-result.node .house-project-price-wrapper {
    padding: 10px;
    background: #ffe6c9;
    margin: 10px 30% 10px 30%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
}

#custom-a600-project-search div.search-result.node .house-project-price-wrapper .field--name-field-price {
    float: left;
    font-size: 20px;
}
#custom-a600-project-search div.search-result.node .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity:0.9;
    float: left;
    width:20px;
    height:20px;
    margin-left:5px;
}
#custom-a600-project-search .more-wrapper{
    width:100%;
    text-align: center;
    float: left;
}
.search-no-results-block {
    font-size: 36px;
    float: left;
    width: 100%;
}

/* top region */
.l-header {
    margin-bottom: 25px;
}
.l-region--branding {
    overflow: hidden;
    float: right;
}
#block-custom-a600-site-top-phone,
#block-menu-menu-top-menu {
    float:left;
    margin-right:100px;
}
#block-custom-a600-site-top-phone {
    margin-top:1em;
}
#block-custom-a600-site-top-phone .top-phone-title {
    font-size: 18px;
}
#block-custom-a600-site-top-phone .top-phone-number {
    font-size: 22px;
}

#block-menu-menu-top-menu ul.menu li a,
.l-region--footer ul.menu li a{
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px black dashed;
}
#block-menu-menu-top-menu ul.menu li,
.l-region--footer ul.menu li{
    list-style: none;
    margin-bottom: 10px;
}
/* end top region */

/* throbber */
.ajax-progress, .ajax-progress-throbber {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    vertical-align: middle;
    text-align: center;
}
.ajax-progress .throbber {
    position: relative;
    top: 48%;
    left: 48%;
    width: 64px; /* dimensions of the ajax-loader.gif */
    height: 64px;
    margin: auto;
    background:url(../images/ajax_loader_blue_64.gif) no-repeat;
    color: #000;
    z-index: 501;
}
/* end throbber */

/* full house project view */
.search-result.node p{
    margin: 10px 0 0 0;
}
.node-house-project-full p{
    margin:0;
}
.node-house-project-full,
.node-house-project-order {
    background: white;
    overflow: hidden;
}
.top-section,
.main-section,
.footer-section{
    overflow: hidden;
}
.node-right-section{
    padding-left: 29px;
    padding-top: 30px;
    float: left;
    width:390px;
    overflow: hidden;
}
.node-house-project-full .field--name-field-plans .field__item {
    float: left;
    margin: 28px;
}
.node-house-project-full .node-title {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    height:30px;
}

.node-house-project-full .custom-a600-add-favorite-form #edit-submit {
    background: url(../images/heart.jpg);
    border:0;
    outline:none;
    width:22px;
    margin-top:3px;
}

.node-house-project-full .custom-a600-add-favorite-form #edit-submit.favorite {
    background: url(../images/heart_red.jpg);
}
.node-house-project-full .footer-section .create-order-wrapper{
    font-size: 30px;
    width: 27%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.node-house-project-full .footer-section .create-order{
    float: left;
    background: #fce4c0;
    padding: 5px;
}
.node-house-project-full .footer-section .create-order-suffix{
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
.node-house-project-full .top-section .create-order-wrapper{
    font-size: 20px;
    overflow: hidden;
}
.node-house-project-full .top-section .create-order{
    float: left;
    background: #fce4c0;
    padding: 5px;
}
.node-house-project-full .top-section .create-order-suffix{
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
.node-house-project-full .house-project-price-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}
.node-house-project-full .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity:0.9;
    float: left;
    width:20px;
    height:24px;
    margin-left:5px;
    margin-top:2px;
}
.node-house-project-full .field--name-field-price{
    float: left;
    font-size: 28px;
}

.order-steps-wrapper {
    float:right;
    right: 50%;
    position: relative;
    margin: 10px 0;
}

.order-steps {
    position: relative;
    float: left;
    left:50%;
}
.order-steps div {
    font-weight: lighter;
    color:lightgray;
    font-size: 24px;
    float:left;
    margin-right: 10px;
}
.order-steps .active {
    font-weight: bold;
    color:black;
}
.footer-section {
    text-align: center;
    margin: 30px 0;
}
/* end full house project view */

/* order house project view */
#custom-a600-project-order-form {
    border-radius: 15px;
    border: 1px solid #000000;
    background: #ffffff;
    box-shadow: 2px 2px;
}
.custom-a600-project-order-form .node-house-project-order {
    border-radius: 15px 15px 0 0;
}
.node-house-project-order .top-section {
    border-bottom: 1px solid #000000;
}
.node-house-project-order .top-left-section,
.node-house-project-order .top-right-section {
    float:left;
}
.node-house-project-order .top-left-section img {
    vertical-align:bottom;
}
.node-house-project-order .top-left-section {
    width: 20%;
}
.node-house-project-order .top-right-section {
    margin: 20px 20px 0 40px;
    width: 75%;
}
.node-house-project-order .top-right-section .node-title {
    width:100%;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    height:30px;
}

.node-house-project-order .top-right-section .field--name-body{
    width:60%;
    float:left;
    margin-right: 40px;
}
.node-house-project-order .top-right-section .field--name-field-rooms-list {
    width:35%;
    float: left;
}
fieldset#edit-prices {
    border: 0;
    margin:0;
    padding-top: 20px;
}
fieldset#edit-standard-price,
fieldset#edit-full-price,
fieldset#edit-extended-price {
    border: 1px solid #f2cda5;
    border-radius: 15px;
    box-shadow: 2px 2px;
    margin: 0 20px 20px 15%;
    padding: 20px;
}
fieldset#edit-contacts {
    border: 0;
}
fieldset#edit-contacts .fieldset-wrapper{
    width:45%;
    margin: auto;
}
fieldset#edit-contacts .form-type-textfield label{
    display: block;
    float: left;
    text-align: left;
    width: 140px;
}
fieldset#edit-standard-price .order-option-options {
    margin-top: 60px;
}
fieldset#edit-prices .order-option-description {
    margin-top:10px;
}
fieldset#edit-prices .order-option-title {
    font-size: 24px;
}
fieldset#edit-prices .order-option-col1 {
    width:30%;
    float: left;
}
fieldset#edit-prices .order-option-all-options,
fieldset#edit-prices .price-options-col3 {
    margin-left:2%;
    width:30%;
    float: left;
    border: none;
}

fieldset#edit-prices .additional-option-marker {
    float: left;
    background: url(../images/square.png);
    width: 20px;
    height: 20px;
}
fieldset#edit-prices .additional-option {
    float: left;
    width:100%;
}
fieldset#edit-prices .order-options-additional {
    margin-top:10px;
}
fieldset#edit-prices .price-wrapper,
fieldset#edit-prices .form-type-textfield,
fieldset#edit-prices .submit-wrapper {
    width:100%;
    float:left;
}
fieldset#edit-prices .price {
    float:left;
    font-size: 28px;
}
fieldset#edit-prices .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity: 0.9;
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0 0 5px;
}
#edit-prices .form-type-textfield input {
    display: block;
    float: left;
    margin-top:3px;
    width: 30px;
    text-align: right;
}
#edit-prices .form-type-textfield .decrease-count,
#edit-prices .form-type-textfield .increase-count{
    float: left;
    background: #fce4c0;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 5px;
    width:19px;
    cursor:pointer;
}
#edit-prices .form-submit {
    float: left;
    background: #fce4c0;
    padding: 7px;
    border:none;
}
#edit-prices .create-order-suffix {
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
/* end order house project view */