img, media {
  max-width: 100%;
}

body {
    width: 1219px;
    margin: auto;
    background: url(../images/fon.jpg);
}
.l-header {
    overflow: hidden;
}
.l-main {
    overflow: hidden;
}
.l-footer {
    margin-top:30px;
    overflow: hidden;
}
.footer-site-name:active,
.footer-site-name:visited {
    color: black;
}
.footer-site-name {
    float: left;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 100px;
    color: black;
}
.l-region--footer{
    float:left;
}
/*.l-region--footer ul.menu li{
    list-style-image: none;
    list-style-type: none;
}
.l-region--footer ul.menu li a{
    color:black;
}*/
#block-menu-menu-footer-menu-1,
#block-menu-menu-footer-menu-2{
    float: left;

}
.site-logo {
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
.site-slogan {
    width: 200px;
    float: left;
    font-weight: normal;
    margin-top: 20px;
}

/* search filters */
#custom-a600-project-search {
    font-size: 14px;
}
#custom-a600-project-search .filters-title {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#custom-a600-project-search #edit-filters {
    background: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

#custom-a600-project-search .bottom-triangle-wrapper {
    width: 100%;
    text-align: center;
    float: left;
}
#custom-a600-project-search .bottom-triangle {
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 50px 90px 0 90px;
    height: 0;
    width: 0;
    margin: auto;
}

#custom-a600-project-search fieldset {
    border: 0;
    padding: 0;
    float: left;
}
#custom-a600-project-search .form-item {
    float: left;
    overflow: hidden;
}

#custom-a600-project-search .form-item-square {
    width: 24%;
}

#custom-a600-project-search .form-item-count-bedroom {
    width: 13%;
}

#custom-a600-project-search .form-item-garage {
    width: 24%;
}
#custom-a600-project-search #edit-floor-group {
    width: 24%;
}
#custom-a600-project-search .form-item-attic-floor,
#custom-a600-project-search .form-item-house-basement {
    margin-left: 10px;
}
#custom-a600-project-search .form-item-price-slider {
    width: 13%;
}

#custom-a600-project-search .form-item-price-slider .sliderfield {
    padding:10px!important;
}

#custom-a600-project-search #edit-square .form-item,
#custom-a600-project-search #edit-garage .form-item,
#custom-a600-project-search #edit-floor .form-item,
#custom-a600-project-search .form-item-price-slider .sliderfield,
#custom-a600-project-search #edit-count-bedroom .form-item {
    float:left;
    border: 3px dashed #f2cda5;
    border-radius: 5px;
    margin:10px;
    text-align: center;
}

#custom-a600-project-search #edit-square .form-item label,
#custom-a600-project-search #edit-garage .form-item label,
#custom-a600-project-search #edit-floor .form-item label,
#custom-a600-project-search .form-item-price-slider .sliderfield label,
#custom-a600-project-search #edit-count-bedroom .form-item label{
    padding:7px;
    display:block;
}

#custom-a600-project-search #edit-garage .form-item:last-child {
    width:160px;
}
#custom-a600-project-search #edit-garage .form-item {
    width:120px;
}
#custom-a600-project-search #edit-floor .form-item {
    width:120px;
}
#custom-a600-project-search #edit-count-bedroom .form-item {
    width:30px;
}
#custom-a600-project-search #edit-square .form-item {
    width:73px;
}

#custom-a600-project-search .form-item-price-slider .sliderfield-display-values-field {
    margin-bottom: 10px;
}

#custom-a600-project-search #results-wrapper {
    width: 100%;
    float:left;
    margin-top: 30px;
}

#custom-a600-project-search #results-wrapper .node__content{

}

#custom-a600-project-search #results-wrapper .search-text-block,
#custom-a600-project-search div.search-result.node {
    display: block;
    overflow: hidden;
    background: white;
    width: 280px;
    height:370px;
    margin-right: 22px;
    margin-bottom: 30px;
    float: left;
    border-radius: 15px;
    text-align: center;
}

#custom-a600-project-search div.search-result.node:hover {
    cursor: pointer;
}

#custom-a600-project-search div.spec-offer.node {
    width: 580px;
}
#custom-a600-project-search div.spec-offer.node .node__content {
    position:relative;
}
#custom-a600-project-search div.spec-offer.node .field--name-field-photo {
    position: absolute;
    top:0;
    left:0;
}

#custom-a600-project-search div.spec-offer.node .field--name-field-rooms-list {
    margin-top: 10px;
    width:60%;
    float: left;
    margin-right:20px;
}
#custom-a600-project-search div.spec-offer.node .house-project-price-wrapper {
    float: left;
    margin: 20px 0 0 0!important;
}

#custom-a600-project-search div.spec-offer-text {
    background-color: white;
    opacity: 0.8;
    position:absolute;
    top:240px;
    height:100px;
    left: 0;
    width:95%;
    margin:15px;
    padding-top: 10px;
    border-radius: 5px;
}

#custom-a600-project-search #results-wrapper .search-text-block {
    border : 5px dashed white;
    background: none;
    padding: 15px;
    height:370px
}
#custom-a600-project-search #results-wrapper .search-text-block .title {
    font-size: 38px;
    margin:10px 0 10px 0;
    text-align: left;
}
#custom-a600-project-search #results-wrapper .search-text-block .text {
    font-size: 24px;
    text-align: left;
}

#custom-a600-project-search div.search-result.node .node-title,
#custom-a600-project-search div.search-result.node .field--name-body {
    text-align: left;
    padding-left: 20px;
}

#custom-a600-project-search div.search-result.node .node-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    margin-top:1px;
}

#custom-a600-project-search div.search-result.node .field--name-body {
    height: 50px;
}

#custom-a600-project-search div.search-result.node .house-project-price-wrapper {
    padding: 10px;
    background: #ffe6c9;
    margin: 10px 30% 10px 30%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
}

#custom-a600-project-search div.search-result.node .house-project-price-wrapper .field--name-field-price {
    float: left;
    font-size: 20px;
}
#custom-a600-project-search div.search-result.node .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity:0.9;
    float: left;
    width:20px;
    height:20px;
    margin-left:5px;
}
#custom-a600-project-search fieldset#more-wrapper{
    width:100%;
    text-align: center;
}
.search-no-results-block {
    font-size: 36px;
    float: left;
    width: 100%;
}

/* top region */
.l-header {
    margin-bottom: 25px;
}
.l-region--branding {
    overflow: hidden;
    float: right;
}
#block-custom-a600-site-top-phone,
#block-menu-menu-top-menu {
    float:left;
    margin-right:100px;
}
#block-custom-a600-site-top-phone {
    margin-top:1em;
}
#block-custom-a600-site-top-phone .top-phone-title {
    font-size: 18px;
}
#block-custom-a600-site-top-phone .top-phone-number {
    font-size: 22px;
}

#block-menu-menu-top-menu ul.menu li a,
.l-region--footer ul.menu li a{
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px black dashed;
}
#block-menu-menu-top-menu ul.menu li,
.l-region--footer ul.menu li{
    list-style: none;
    margin-bottom: 10px;
}
/* end top region */

/* throbber */
.ajax-progress, .ajax-progress-throbber {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    vertical-align: middle;
    text-align: center;
}
.ajax-progress .throbber {
    position: relative;
    top: 48%;
    left: 48%;
    width: 64px; /* dimensions of the ajax-loader.gif */
    height: 64px;
    margin: auto;
    background:url(../images/ajax_loader_blue_64.gif) no-repeat;
    color: #000;
    z-index: 501;
}
/* end throbber */

/* gallery arrows */

a.arrow.back{
    background: url("../images/sprite.png") no-repeat scroll !important;
    background-position:  -25px 0  !important;
    display: block  !important;
    height: 65px  !important;
    position: absolute  !important;
    width: 17px  !important;
    cursor: pointer  !important;
    bottom: 13px !important;

}
a.arrow{
    width: 0px !important;
    height: 0px !important;
}
a.arrow.forward{
    background: url("../images/sprite.png") no-repeat scroll -45px 0px !important;
    display: block !important;
    height: 65px !important;
    position: absolute !important;
    width: 17px !important;
    cursor: pointer !important;
    bottom: 13px !important;

}
/* end gallery arrows */

/* full house project view */
.node-house-project-full p{
    margin:0;
}
.node-house-project-full,
.node-house-project-order {
    background: white;
    overflow: hidden;
}
.top-section,
.main-section,
.footer-section{
    overflow: hidden;
}
.node-right-section{
    padding-left: 29px;
    padding-top: 30px;
    float: left;
    width:390px;
    overflow: hidden;
}
.node-house-project-full .field--name-field-plans .field__item {
    float: left;
    margin: 28px;
}
.node-house-project-full .node-title {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    height:30px;
}

.node-house-project-full .footer-section .create-order-wrapper{
    font-size: 30px;
    width: 27%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.node-house-project-full .footer-section .create-order{
    float: left;
    background: #fce4c0;
    padding: 5px;
}
.node-house-project-full .footer-section .create-order-suffix{
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
.node-house-project-full .top-section .create-order-wrapper{
    font-size: 20px;
    overflow: hidden;
}
.node-house-project-full .top-section .create-order{
    float: left;
    background: #fce4c0;
    padding: 5px;
}
.node-house-project-full .top-section .create-order-suffix{
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
.node-house-project-full .house-project-price-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}
.node-house-project-full .house-project-price-wrapper .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity:0.9;
    float: left;
    width:20px;
    height:24px;
    margin-left:5px;
    margin-top:2px;
}
.field--name-field-price{
    float: left;
    font-size: 28px;
}

.order-steps-wrapper {
    float:right;
    right: 50%;
    position: relative;
    margin: 10px 0;
}

.order-steps {
    position: relative;
    float: left;
    left:50%;
}
.order-steps div {
    font-weight: lighter;
    color:lightgray;
    font-size: 24px;
    float:left;
    margin-right: 10px;
}
.order-steps .active {
    font-weight: bold;
    color:black;
}
.footer-section {
    text-align: center;
    margin: 30px 0;
}
/* end full house project view */

/* order house project view */
#custom-a600-project-order-form {
    border-radius: 15px;
    border: 1px solid #000000;
    background: #ffffff;
    box-shadow: 2px 2px;
}
.node-house-project-order {
    border-radius: 15px 15px 0 0;
}
.node-house-project-order .top-section {
    border-bottom: 1px solid #000000;
}
.node-house-project-order .top-left-section,
.node-house-project-order .top-right-section {
    float:left;
}
.node-house-project-order .top-left-section img {
    vertical-align:bottom;
}
.node-house-project-order .top-left-section {
    width: 20%;
}
.node-house-project-order .top-right-section {
    margin: 20px 20px 0 40px;
    width: 75%;
}
.node-house-project-order .top-right-section .node-title {
    width:100%;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    height:30px;
}

.node-house-project-order .top-right-section .field--name-body{
    width:60%;
    float:left;
    margin-right: 40px;
}
.node-house-project-order .top-right-section .field--name-field-rooms-list {
    width:35%;
    float: left;
}
fieldset#edit-prices {
    border: 0;
    margin:0;
    padding-top: 20px;
}
fieldset#edit-standard-price,
fieldset#edit-full-price,
fieldset#edit-extended-price {
    border: 1px solid #f2cda5;
    border-radius: 15px;
    box-shadow: 2px 2px;
    margin: 0 20px 20px 15%;
    padding: 20px;
}
fieldset#edit-standard-price .order-option-options {
    margin-top: 60px;
}
fieldset#edit-prices .order-option-description {
    margin-top:10px;
}
fieldset#edit-prices .order-option-title {
    font-size: 24px;
}
fieldset#edit-prices .order-option-col1 {
    width:30%;
    float: left;
}
fieldset#edit-prices .order-option-all-options,
fieldset#edit-prices .price-options-col3 {
    margin-left:2%;
    width:30%;
    float: left;
    border: none;
}

fieldset#edit-prices .additional-option-marker {
    float: left;
    background: url(../images/square.png);
    width: 20px;
    height: 20px;
}
fieldset#edit-prices .additional-option {
    float: left;
    width:100%;
}
fieldset#edit-prices .order-options-additional {
    margin-top:10px;
}
fieldset#edit-prices .price-wrapper,
fieldset#edit-prices .form-type-textfield,
fieldset#edit-prices .submit-wrapper {
    width:100%;
    float:left;
}
fieldset#edit-prices .price {
    float:left;
    font-size: 28px;
}
fieldset#edit-prices .price-suffix {
    background: url('../images/ruble.gif') no-repeat;
    background-size: contain;
    opacity: 0.9;
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 0 0 5px;
}
#edit-prices .form-type-textfield input {
    display: block;
    float: left;
    margin-top:3px;
    width: 30px;
    text-align: right;
}
#edit-prices .form-type-textfield .decrease-count,
#edit-prices .form-type-textfield .increase-count{
    float: left;
    background: #fce4c0;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 5px;
    width:19px;
    cursor:pointer;
}
#edit-prices .form-submit {
    float: left;
    background: #fce4c0;
    padding: 7px;
    border:none;
}
#edit-prices .create-order-suffix {
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #fce4c0;
    border-right: 0;
    float: left;
}
/* end order house project view */